@model IEnumerable<CadeMeuMedico.Models.Cidade>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Adicionar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.IDCidade }) |
            @Html.ActionLink("Deletar", "Deletar", new { id=item.IDCidade }, new {@class="deletar")
        </td>
    </tr>
}

</table>
@section Scripts{
	<script>
        $(function () {
            var linhaAtual;

            $("#menuMedicos").addClass("active");

            $(".deletar").on("click", function () {
                if (confirm("Confirma a exclusão da cidade?")) {
                    var urlExclusao = $(this).attr("href");
                    linhaAtual = $(this).closest("tr");

                    $.ajax({
                        url: urlExclusao,
                        type: "POST"
                    }).done(function (excluiu) {
                        if (excluiu) {
                            linhaAtual.remove();
                        } else {
                            alert("Ocorreu algum problema na exclusão da cidade :(");
                        }
                    }).fail(function () {
                        alert("Ocorreu algum erro :(");
                    });
                }

                return false;
            });
        });

	</script>
}
